@import "../bower_components/bootstrap/less/variables.less";

body {
    padding-top: 70px;
}


#login {

	// Make login form smaller and centrally aligned
	max-width: 600px;
	margin: auto;
	input, button {
		// Spread out inputs
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	// Login Button animations
	button {
		width: 62px;
		text-align: right;
		transition: width 0.3s ease-in-out;
		position: relative;

		i {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			transition: opacity 0.3s 0.3s ease-in-out;
			opacity: 0;
		}

		.working & {
			width: 85px;

			i {
				opacity: 1;
			}
		}
	}
}

#list {
	.alert {
		position: relative;
		.spinner {
			position: absolute;
			top: 50%;
			right: 10px;
		}
	}

	.input-group {
		.input-group-addon {
			width: 75px;
		}
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	select {
		width: 200px;
	}
}

.spinner {
	animation: spin 2s linear infinite;
}

.appear {
	animation: appear 0.4s ease-in-out backwards;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#list {
		.input-group {
			margin: 0;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

@keyframes spin {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}

	100% {
		transform: translateY(-50%) rotate(360deg);
	}
}

@keyframes appear {
	0% {
		transform: translateY(-75%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}