<!DOCTYPE html>
<html lang="en" ng-app="FlightList">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>FlightList</title>
	<link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flight.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/flight.js"></script>
	<script src="js/directives.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
		<div class="div container">
			<a href="#" class="navbar-brand">FlightList</a>
			<button type="button" ng-if="session" ng-click="logout()" class="btn btn-primary navbar-btn navbar-right">Log out</button>
		</div>
	</nav>
	<main class="container">
		<div ng-controller="LoginCtrl">
			<login-panel session="session" on-auth="setSession">
		</div>
		<div ng-controller="ListCtrl" id="list">
			<div ng-if="session">
				<div class="alert alert-info appear" ng-if="working">
					Loading Cities...
					<i class="glyphicon glyphicon-refresh pull-right spinner" aria-hidden="true"></i>
				</div>
				<div class="alert alert-info appear" ng-if="searching">
					Searching for flights...
					<i class="glyphicon glyphicon-refresh pull-right spinner" aria-hidden="true"></i>
				</div>
				<div class="alert alert-danger appear" ng-if="error">
					Could not load list of cities
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Search Flights</h2>
					</div>
					<div class="panel-body">
						<form class="form-inline">
							<div class="input-group">
								<span class="input-group-addon">From:</span>
								<select ng-change="searchFlights()" class="form-control" ng-options="city as city.label for city in cities | filter: exclusiveFrom" ng-model="search.from">
									<option value="">Select a City</option>
								</select>
							</div>
							<div class="input-group">
								<span class="input-group-addon">To:</span>
								<select ng-change="searchFlights()" class="form-control" ng-options="city as city.label for city in cities | filter: exclusiveTo" ng-model="search.to">
									<option value="">Select a City</option>
								</select>
							</div>							
						</form>
					</div>
				</div>
				<div class="panel panel-default" ng-if="results.length" ng-class="{busy: searching}">
					<div class="panel-heading">
						<h2 class="panel-title">Search Results</h2>
					</div>
					<div class="panel-body">
						<div class="pull-right ordering">
							<p class="input-group input-group-sm sort">
								<span class="input-group-addon">Sort By:</span>
								<select class="form-control" ng-change="sortResults()" ng-model="sort.field">
									<option value="time">Departure</option>
									<option value="duration">Duration</option>
									<option value="cost">Price</option>
								</select>
							</p>
							<span class="btn-group btn-group-sm sort-direction" role="group" aria-label="...">
								<button type="button" class="btn btn-default" ng-click="sortDirection('asc')" ng-class="{'btn-primary':sort.dir == 'asc'}">ASC</button>
								<button type="button" class="btn btn-default" ng-click="sortDirection('desc')" ng-class="{'btn-primary':sort.dir == 'desc'}">DESC</button>
							</span>
						</div>
						<search-results flights="results">
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
