<div id="login" class="panel panel-primary" ng-if="!session && !registering">
    <div class="panel-heading">
        <h2 class="panel-title">Login</h2>
    </div>
    <div class="panel-body">
        <form ng-submit="attempt()">
        	<p role="alert" class="alert alert-danger" ng-if="error">{{ error }}</p>
        	<p role="alert" class="alert alert-success" ng-if="registerSuccess">Registered successfully</p>
            <input ng-model="user.email" type="email" name="email" id="email" placeholder="Email Address" class="form-control">
            <input ng-model="user.password" type="password" name="password" id="password" placeholder="Password" class="form-control">
            <button class="btn btn-primary pull-right">
            	<i class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></i>
            	Login
            </button>
            <a ng-click="isRegistering(true)" class="text-primary pull-left">No account? Register now.</a>
        </form>
    </div>
</div>
<div id="register" class="panel panel-primary" ng-if="!session && registering">
    <div class="panel-heading">
        <h2 class="panel-title">Register</h2>
    </div>
    <div class="panel-body">
        <form ng-submit="register()">
        	<p role="alert" class="alert alert-danger" ng-if="regError">{{ regError }}</p>
            <input ng-model="newuser.email" type="email" name="email" id="email" placeholder="Email Address" class="form-control">
            <input ng-model="newuser.password" type="password" name="password" id="password" placeholder="Password" class="form-control">
            <input ng-model="newuser.passwordConfirm" type="password" name="password" id="password" placeholder="Confirm Password" class="form-control">
            <button class="btn btn-primary pull-right">
            	<i class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></i>
            	Register
            </button>
             <a ng-click="isRegistering(false)" class="text-primary pull-left">Have an account? Login now.</a>
        </form>
    </div>
</div>
